html {
	font-family: "Lucida Console";
	text-align: center;
}

body {
	background-color: rgb(41, 41, 41);
}

footer {
	background-color: rgb(61, 61, 61);
	font-size: 80%;
	text-align: center;
}

p {

	color: rgb(160, 160, 159);
}

h1 {
	color: rgb(160, 160, 159);
}

h2 {
	color: rgb(160, 160, 159);
}

h3 {
	color: rgb(160, 160, 159);
}

a {
	color: rgb(200, 200, 200);
}


.main-page-header {
	font-size: 400%;
	margin-bottom: 1px

}

.main-page-description {
	text-align: center;
	font-size: 80%;
	margin-top: 1px
}
