html {
	font-family: "Lucida Console";
	text-align: center;
}

body {
	background-color: rgb(41, 41, 41);
}

footer {
	border: 4px solid black;
	margin-top: 1%
	background-color: rgb(61, 61, 61);
	font-size: 80%;
	text-align: center;
}

head {
	border: 4px solid black;
	margin-bottom: 1%
}

p {

	color: rgb(160, 160, 159);
}

h1 {
	color: rgb(160, 160, 159);
}

h2 {
	color: rgb(160, 160, 159);
}

h3 {
	color: rgb(160, 160, 159);
}

a {
	color: rgb(200, 200, 200);
}

.auto-resize-image {
	width: 70%;
}

.main-page-header {
	font-size: 400%;
	margin-bottom: 1px

}

.main-page-description {
	text-align: center;
	font-size: 80%;
	margin-top: 1px
}
